@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    50 El-Shorouk Housing<br />
    Nasr City, Cairo<br />
    <abbr title="Phone">P:</abbr>
    (002) 0109 6435 896
    (002) 0155 0789 667 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mustafalotfyg@gmail.com">mustafalotfyg@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mustafalotfyg@gmail.com">mustafalotfyg@gmail.com</a>
</address>